*{
    margin: 0; padding:0; 
    font-family: Century Gothic ;
   

}


header {
background-image:url(suzuki3.jpg);
height:100vh;
background-size:cover;
background-position:center;
   

}
ul{
float:right;
list-style-type:none;
margin-top:25px
}

ul li{
display:inline-block;
margin-right:40px;
} 

ul li a{
text-decoration:none;
color:rgba(255,255,255,0.5);
padding:5px 0.2px;
transition:0.5s ease;
}
ul li a:hover{
color:rgba(255,255,255,0.75);
}

ul li a.active{
border-bottom:2px solid #cd99d4;
color:#fff;
}

ul li a.download{
border:1px solid #fff;
padding:2px 20px;
border-radius:3px;
color:#fff;
}

ul li a.download:hover{
background-color:#fff;
color:purple;
}

.logo img{
float:left;
position:left;
width:200px;
height:100px;
} 

.table{
font-size:25px;
color:#fff;
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
}

.table tr{
font-size:25px;
border:1px;
color:#fff;
}

.table td{
font-size:25px;
color:#fff;
}

.table caption{
color:#fff;